
<div class="row">		
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">
		<div class="well myWell" >
		<form class="form-horizontal" name="myForm" ng-submit="success()">
			<div class="form-group">
				<label for="success" class="myLable">Thank you for registering for<br><b>Design & Shine!</b></label><br/><br/>
				<br/><br/>

				<label for="success" class="myLable">Your ID #
					<dvi class="well">{{ID}}</div>
				</label><br/><br/>

				<label for="success" class="myLable4">Please make a note of this number to check into<br> other areas at this convention and in other locations</label><br/><br/>
				<br/><br/>

			    <button type="submit" class="btn btn-primary myButton" id="btnList">{{btnList}}</button>
			</div>			
		</form>
		</div>
	</div>
</div>