
<div class="row">		
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">
		<div class="well myWell" >
		<form class="form-horizontal" name="myForm" ng-submit="regist()">
			<div class="form-group">
				<label for="regist" class="myLable">Register for Design & shine</label><br/><br/>
				<br/><br/>

				<label for="regist" class="myLable2">Put your curiosity and creative sills in motion like<br/> a real scientist. Collect Design & Shine pins to <br />enter daily giveaways. Rigister now!</label><br/><br/>
				<br/><br/>

			    <button type="submit" class="btn btn-primary myButton" id="btnRegister">{{btnRegister}}</button>
			</div>			
		</form>
		</div>
	</div>
</div>